<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.wandroid.mythology"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/unicorn"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="net.wandroid.mythology.map.MythologyStartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCo_Ri9ivq5SOoVhFQhfNgL9uDafj9EEuE" />

        <activity
            android:name="net.wandroid.mythology.trap.TrapActivity"
            android:label="@string/title_activity_trap"
            android:parentActivityName="net.wandroid.mythology.map.MythologyStartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.wandroid.mythology.MythologyStartActivity" />
        </activity>
        <activity
            android:name="net.wandroid.mythology.DeveloperActivity"
            android:label="@string/title_activity_developer"
            android:parentActivityName="net.wandroid.mythology.map.MythologyStartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.wandroid.mythology.MythologyStartActivity" />
        </activity>
        <activity
            android:name="net.wandroid.mythology.myth.HomeActivity"
            android:label="@string/title_activity_home"
            android:parentActivityName="net.wandroid.mythology.map.MythologyStartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.wandroid.mythology.MythologyStartActivity" />
        </activity>
        <activity
            android:name="net.wandroid.mythology.trap.TrapInfoActivity"
            android:label="@string/title_activity_trap_info"
            android:parentActivityName="net.wandroid.mythology.trap.TrapActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.wandroid.mythology.trap.TrapActivity" />
        </activity>
        <activity
            android:name="net.wandroid.mythology.bait.BaitActivity"
            android:label="@string/title_activity_bait"
            android:parentActivityName="net.wandroid.mythology.trap.TrapActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.wandroid.mythology.trap.TrapActivity" />
        </activity>
        <activity
            android:name="net.wandroid.mythology.bait.BaitCreateActivity"
            android:label="@string/title_activity_bait_create"
            android:parentActivityName="net.wandroid.mythology.bait.BaitActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.wandroid.mythology.trap.BaitActivity" />
        </activity>
    </application>

</manifest>
